

.about{
    display: block;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 75%;
    margin: 5rem auto 0rem;
}

.container1{
    width: 5.5rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    padding: .3rem .5rem;
    border-radius: 2rem;
    font-size: 17px;
    font-weight: 600;
    background-color: #3489d8;
    color: rgb(255, 255, 255);
    margin: .5rem;
}
.container1:hover{
    background-color: #fff;
    color: #3489d8;
}
.section2{
    display: flex;
    align-items: center;
    font-size: 25px;
    column-gap: .8rem;
}
.icon{
    color: #3489d8;
    font-size: 30px;
}
.icon:hover{
    color: #fff;
}
.p{
    margin: .5rem;
    font-size: 17px;
    color: #fff;
    line-height: 1.5rem;
    max-width: 80%;
}
.h1{
    font-size: 50px;
    color: #fff;
    margin: 1rem 0 1rem 0;
    font-weight: 600;

}

.b{
    color: #3489d8;
}
.cv{
    font-size: 25px;
    color: #c8cacc;
}
.r{
    font-size: 20px;
    margin-left: .4rem;
}
.h2{
    color: #f7f7f7;
    margin: 2rem 0 1rem 0;
}

.mainskills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    column-gap: 1rem;
}
.mainskills2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    column-gap: 1rem;
}
.mainskillsLang{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 80%;
    
}
.mns1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 21rem;
    color: rgb(65, 136, 241);
    margin: .5rem;
}
.mns2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 21rem;
    color: rgb(65, 136, 241);
    margin: .5rem;

}
.mns3{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 21rem;
    color: rgb(65, 136, 241);
    margin: .5rem;
}
.light{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
    margin: 1rem;
    word-spacing: .3rem;
}
.title{
    color: #185df0;
}
.iconlight{
    color: #f8f805;
    font-size: 25px;
    margin: 0 .5rem 0 .5rem;
}
@media(max-width:800px){
    .cv{
        font-size: 15px;
    }
}