@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,500&family=Ibarra+Real+Nova:ital@1&family=Kalam:wght@700&family=Noto+Sans+JP:wght@400;500;700&family=PT+Serif:wght@700&family=Poppins:ital,wght@1,300&family=Rajdhani&family=Roboto:ital,wght@0,300;1,300&family=The+Nautigal:wght@700&display=swap');

.container{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 1rem 1rem 1rem;
    margin: 0 auto 0 auto;
    max-width: 50rem;
}
.component2{
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.p1{
    display: flex;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.img{
    display: flex;
    align-items: center;
    padding: .2rem;
    max-width: 791px;
    max-height: 550px;
    min-width: none;
    border-radius: 1rem;
}

@media(max-width:850px){
    .img{
        max-width: 450px;
    }
}
@media(max-width:600px){
    .img{
        max-width: 350px;
    }
}