@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,500&family=Kalam:wght@700&family=Noto+Sans+JP:wght@400;500;700&family=PT+Serif:wght@700&family=Rajdhani&family=Roboto:ital,wght@0,300;1,300&family=The+Nautigal:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,500&family=Ibarra+Real+Nova:ital@1&family=Kalam:wght@700&family=Noto+Sans+JP:wght@400;500;700&family=PT+Serif:wght@700&family=Poppins:ital,wght@1,300&family=Rajdhani&family=Roboto:ital,wght@0,300;1,300&family=The+Nautigal:wght@700&display=swap');
.component1{
    margin: 4rem auto 0 auto;
    padding: 1rem 1rem 0 1rem;
    max-width: 55rem;
}
.p1{
    display: flex;
    justify-content: center;
    font-family: 'Finlandica', sans-serif;
    font-size: 50px;
    color: #3489d8;

}
.p2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 2rem 0 2rem;
    padding: 1rem;
    border-radius: 1rem;
    font-family: 'italic', sans-serif;
    font-weight: 400;
    word-spacing: 3px;
    line-height: 25px;
    font-size: 20px;
    box-shadow: 0 0 22px rgba(118, 117, 117, 0.75);
    color: #fff;

}
.title{
    margin: 1rem auto;
    color: #ffffff;
    font-size: 25px;
}
.p3{
    margin: 1rem 0;
}

