.gallerie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}
.gallerie div{
    display: flex;
}
.gallerie img {
   max-height: 3rem;
   padding: 0.5rem;
   margin: auto;
}
.PremiereDiv{
    width: 100%;
}
.DeuxiemeDiv{
    width: 75%;
}
.TroisiemeDiv{
    width: 60%;
}
.QuatreiemDiv{
    width: 40%;
}


@media(max-width:1100px){
    .gallerie img {
        max-height: 2rem;
     }
}

