.gallerie{
    max-height:50rem;
    min-height: 10rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 4.3rem;
}
.img{
    max-width: 791px;
    min-width: 280px;
    max-height: 550px;
    border-radius: 1rem;
    box-shadow: 0 15px 35px rgba(118, 117, 117, 0.75);
}
.icon1, .icon2{
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;
    color: #fff;

}
.icon1:hover{
    color: #3489d8;
}
.icon2:hover{
    color: #3489d8;
}

@media(max-width: 1100px){
    .icon1{
        position: absolute;
        bottom: 0;
        left: 5rem;
    }
    .icon2{
        position: absolute;
        bottom: 0;
        right: 5rem;
    }
}