@import url('http://fonts.cdnfonts.com/css/cascadia-mono');

.menu{
    max-width: 45rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    list-style-type: none;
    margin-right: 1rem;
    height: 3.5rem;
    
}
ul{
    list-style-type: none;
    font-size:20px;
    font-family: 'Cascadia Mono' , sans-serif ;
}
ul li{
    cursor: pointer;
}
.iconmenu{
    font-size: 25px;
    color: rgb(204, 206, 211);
    position: absolute;
    right: 3rem;
    top: 3.5rem;
}
.lien{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.lien:hover{
    color: rgb(13, 117, 208);
}
.lienActive{
    text-decoration: none;
    color: #3489d8;
    font-size: 25px;
}
.lienActive:hover{
    color: rgb(13, 117, 208);
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(13, 117, 208);
    font-size: 27px;
}
.icon:hover{
    color: #fff;
}





@media(max-width:650px){
    .menu{
        display: none;
    }
    
}

